# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea Project Files #
.idea/
.project
*.iml
target/
.settings/
ChineseSegment/src/test/
Common/src/main/java/xyz/shy/guava/
Common/src/test/
ESStudy/src/main/resources/
ESStudy/src/test/
Flink/src/test/
JavaAndScala/src/main/resources/
JavaAndScala/src/test/java/
Kafka210/docs/
Kafka210/src/main/resources/
Kafka210/src/main/scala/
Kafka210/src/test/
Spark163/src/main/scala/xyz/shy/spark163/exercise/sql/
Spark220/src/main/java/
